.idea/
herts-core/build/
herts-core-client/build/
herts-common/build/
herts-metrics/build/
herts-codegen/build/
herts-http/build/
herts-http-client/build/
tools/build/
example/build/
grpc-proto-example/build/
.gradle/
.java-version
